body {
   background-color: #ccf;
   background-image: url('../img/bg.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}
.wrapper {
  display: block;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 44px;
  background-color: #ffffff;
}

.profile-article {
  margin-bottom: 53px;
}
h2 {
  font-family: 'Pathway Gothic One';
  font-size: 25px;
  text-transform: uppercase;
  color: #263555;
}
h3 {
  color: #263555;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
}
.img {
  display: block;
  height: 100px;
  margin-top: 33px;
  margin-bottom: 28px;
  overflow: hidden;
}
img {
  width: 100%;
}

p {
  font-family: Arial;
  font-size: 12px;
}

.line {
  display: block;
  margin-top: 53px;
  margin-bottom: 53px;
  border-top: 2px solid #dedbdb;
}

.columns {
  display:block;
  column-count: 2;
}

li {
  display: inline-block;
  list-style: none;
}