* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div, span, section, article, header {
    border: 1px solid blue;
}

.wrapper {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu - start */
.logo {
    margin-top: 29px;
  }
nav {
    margin-top: 40px;
  }
ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
li {
    padding-left: 60px;
  }
li a {
    text-decoration: none;
    color: #fed136;
    font-family: Montserrat-Regular;
    font-size: 14px;
    text-transform: uppercase;
}
/* Menu - end */